# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Saidamir 21\Desktop\lab-8-Saidamir2020-1-master\lab-8-Saidamir2020-1-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
